body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    padding: 40px;
  }
  
  .box {
    width: 300px;
    padding: 20px;
    border: 5px solid #0077cc;
    margin: 30px;
    background-color: #e0f7ff;
    color: #333;
  }
  